<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="js/jquery10.js"></script>
<script src="js/migrate.js"></script>
<script src="js/modernizr.custom.57033.js"></script>
<script src="js/signup.js"></script>
<script src="js/login.js"></script>

<title>Untitled Document</title>


<style>
.FormInputError{
	border:1px solid red;	
}
.signup_submit,.login_submit{
	background-color:orange;
	cursor:pointer;
	width:200px;
	margin-top:40px;
}

</style>


</head>

<body>

<form>
	<label>Email</label>
    <input type="text" class="signup_email"/>
    <label>First name</label>
    <input type="text" class="signup_firstname"/>
    <label>Last name</label>
    <input type="text" class="signup_lastname"/>
    <label>Password</label>
    <input type="password" class="signup_password"/>
    <label>Confirm password</label>
    <input type="password" class="signup_confirmpassword"/>
    <span class="signup_confirmpassword_span"></span>
    <div class="signup_submit">Signup</div>
</form>



<form class="login_form">
	<label>Email</label>
    <input type="text" class="login_email"/>
    <label>Password</label>
    <input type="password" class="login_password"/>
    <div class="login_submit">Login</div>
</form>


</body>
</html>
